<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Güelcom</title>
</head>
<body>
    <h1>Welcome to the App</h1>
    <h2>hOLA</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo necessitatibus nam quidem impedit veniam sequi veritatis itaque illo ullam mollitia quasi recusandae incidunt, delectus reiciendis, quaerat accusamus quas. Dolorum, ex.</p>
</body>
</html>